<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
	<layout class="org.apache.log4j.PatternLayout">
       	<param name="ConversionPattern" value="%d %-5p %F:%L - %m%n"/>
	</layout>
  </appender>
  
  <appender name="esperLogFile" class="org.apache.log4j.FileAppender">
      <param name="File" value="/tmp/esper.log" />
      <param name="Threshold" value="error" />
      <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d %-5p %F:%L - %m%n"/>
      </layout>
  </appender>
    
  <category name="com.nebulent.cep" additivity="false">
  	<priority value="debug"/>
  	<!--appender-ref ref="console"/-->
  	<appender-ref ref="esperLogFile"/>
  </category>
  
  <category name="com.nebulent.cep.monitoring.esper.listener" additivity="false">
  	<priority value="debug"/>
  	<!--appender-ref ref="console"/-->
  	<appender-ref ref="esperLogFile"/>
  </category>
  
  <category name="com.nebulent.cep.service.resource.impl" additivity="false">
  	<priority value="debug"/>
  	<!--appender-ref ref="console"/-->
  	<appender-ref ref="esperLogFile"/>
  </category>
  
  <category name="com.nebulent.cep.monitoring.service.integration" additivity="false">
  	<priority value="debug"/>
  	<!--appender-ref ref="console"/-->
  	<appender-ref ref="esperLogFile"/>
  </category>
  
  <category name="com.nebulent.cep.monitoring.esper.statement" additivity="false">
  	<priority value="debug"/>
  	<!--appender-ref ref="console"/-->
  	<appender-ref ref="esperLogFile"/>
  </category>
  
  <category name="com.nebulent.cep.integration.camel" additivity="false">
  	<priority value="info"/>
  	<!--appender-ref ref="console"/-->
  	<appender-ref ref="esperLogFile"/>
  </category>
  
  <category name="com.nebulent.cep.relp" additivity="false">
  	<priority value="info"/>
  	<!--appender-ref ref="console"/-->
  	<appender-ref ref="esperLogFile"/>
  </category>
  
  <category name="com.nebulent.cep.relp.camel" additivity="false">
  	<priority value="info"/>
  	<!--appender-ref ref="console"/-->
  	<appender-ref ref="esperLogFile"/>
  </category>

   <category name="com.nebulent.cep.relp.camel.jmx" additivity="false">
  	<priority value="info"/>
  	<!--appender-ref ref="console"/-->
  	<appender-ref ref="esperLogFile"/>
  </category>
  
  <root> 
    <priority value="info"/> 
    <!--appender-ref ref="console"/-->
    <appender-ref ref="esperLogFile"/>
  </root>
  
</log4j:configuration>
